<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-beta.1.css" type="text/css"> </head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-danger border border-danger">
    <div class="container">
        <a class="navbar-brand" href="{{ path('homepage') }}"><i class="fa d-inline fa-balance-scale fa-lg"></i><b class="">IIBank</b></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent"
                aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
        <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
            <ul class="navbar-nav"></ul>
        </div>
    </div>
    <a href="{{ logout_path('main') }}" class="btn btn-default navbar-btn btn-light"><i class="fa fa-sign-out"></i> Wyloguj</a>
</nav>
<div class="bg-danger border border-danger px-0">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="{{ path('accountHome') }}" class="active nav-link"><i class="fa fa-home fa-home"></i> Home</a>
                    </li>
                    <li class="nav-item bg-light">
                        <a href="{{ path('accountTransaction') }}" class="nav-link text-dark active"><i class="fa fa-credit-card"></i> Przelew</a>
                    </li>
                    <li class="nav-item bg-light">
                        <a class="nav-link text-dark active" href="{{ path('accountHistory') }}"><i class="fa fa-history"></i> Historia</a>
                    </li>
                    <li class="nav-item bg-light">
                        <a href="#" class="nav-link text-dark active"><i class="fa fa-address-book "></i> Kontakty</a>
                    </li>
                    <li class="nav-item bg-light">
                        <a href="{{ path('personalData') }}" class="nav-link text-dark active"><i class="fa fa-id-card-o"></i> Dane osobowe</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="">Lista Kontaktów</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th>Nr Konta</th>
                        <th>
                            <div class="btn-group">
                                <button class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"> Dodaj Kontakt </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{ path('contactsSearch') }}">Wyszukaj</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ path('contactsCreate') }}">Dodaj ręcznie</a>
                                </div>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cont in contacts %}
                        <tr>
                            <td>{{ cont.contactName }}</td>
                            <td>{{ cont.contactNumber }}</td>
                            <td>
                            <a class="btn btn-primary" href="{{ path('accountTransactionContact',{'contactNumber': cont.contactNumber, 'personalName': cont.personalName}) }}"><i class="fa fa-credit-card"></i> Wyślij Przelew</a>
                            <a class="btn btn-danger" href="{{ path('contactsDelete',{'idContacts': cont.idContact}) }}"><i class="fa fa-trash"></i> Usuń</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>

</html>