<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-beta.1.css" type="text/css"> </head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-danger border border-danger">
    <div class="container">
        <a class="navbar-brand" href="homepage"><i class="fa d-inline fa-balance-scale fa-lg"></i><b class="">IIBank</b></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent"
                aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
        <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
            <ul class="navbar-nav"></ul>
        </div>
    </div>
</nav>
<div class="py-5">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12">
                <h2 class="text-dark">Opis Projektu</h2>
                <p class="">IIBank - jest to prosta aplikacja symulująca działanie aplikacji bankowej. Zadaniem aplikacji jest umożliwienie użytkownikowi założenie konta bankowego oraz możliwość zarządzania swoim kontem jak i kapitałem. </p>
                <p class=""> Projekt wykorzystuje technologie takie jak: PHP, Framework Symfony, MySQL, Bootstrap (przy pomocy programu Pingendo), pakiet do tworzenia panelu admina EasyAdmin.</p>
            </div>
        </div>
    </div>
</div>
<div class="py-5 text-center bg-danger">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="pb-3 text-light">Możliwości projektu.&nbsp;</h1>
            </div>
        </div>
        <div class="row">
            <div class="text-right col-md-6">
                <div class="row my-5">
                    <div class="col-2 order-lg-2 col-2 text-center"><i class="d-block fa fa-3x fa-exchange text-white"></i></div>
                    <div class="col-10 text-lg-right text-left order-lg-1">
                        <h4 class="text-white">Wykonywanie Przelewów</h4>
                        <p class="text-white">Wykonanie przelewu do innego użytkownika.
                            <br> </p>
                    </div>
                </div>
                <div class="row my-5">
                    <div class="col-2 order-lg-2 col-2 text-center"><i class="d-block fa fa-4x fa-address-book-o text-white"></i></div>
                    <div class="col-10 text-lg-right text-left order-lg-1">
                        <h4 class="text-white">Książka Kontaktów</h4>
                        <p class="text-white">Dodawanie oraz usuwanie znajomych kontaktow</p>
                    </div>
                </div>
            </div>
            <div class="text-left col-md-6">
                <div class="row my-5">
                    <div class="col-2 text-center"><i class="d-block fa fa-3x fa-history text-white"></i></div>
                    <div class="col-10">
                        <h4 class="text-white">Przeglądanie Historii</h4>
                        <p class="bg-danger text-light">Możlwość przeglądania histori wykonanych i otrzymanych przelewów.</p>
                    </div>
                </div>
                <div class="row my-5">
                    <div class="col-2 text-center"><i class="d-block mx-auto fa  fa-3x fa-lock text-white"></i></div>
                    <div class="col-10">
                        <h4 class="text-white">Konto Admina</h4>
                        <p class="text-white">Specjalne konto admina, dostępne dla administratora banku, który ma dostęp do pewnych danych</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>

</html>