<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-beta.1.css" type="text/css"> </head>

<body class="h-100">
<nav class="navbar navbar-expand-md navbar-dark bg-danger">
    <div class="container">
        <a class="navbar-brand" href="#"><i class="fa d-inline fa-lg fa-balance-scale"></i><b class="text-capitalize">IIBank</b></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent"
                aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
        <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
            {% if is_granted('ROLE_USER') %}
                <a href="{{ path('accountHome') }}" class="btn btn-default navbar-btn text-uppercase btn-light text-dark"><i class="fa fa-user d-inline fa-lg"></i>Przejdź do konta</a>
                <a href="{{ path('logout') }}" class="btn navbar-btn ml-2 text-uppercase btn-light text-dark"><i class="fa fa-lg fa-sign-out"></i> Wyloguj</a>
            {% elseif is_granted('ROLE_ADMIN') %}
                 <a href="{{ path('admin') }}" class="btn btn-default navbar-btn text-uppercase btn-light text-dark"><i class="fa fa-user d-inline fa-lg"></i>Przejdź do panelu admina</a>
                <a href="{{ path('logout') }}" class="btn navbar-btn ml-2 text-uppercase btn-light text-dark"><i class="fa fa-lg fa-sign-out"></i> Wyloguj</a>
            {% else %}
            <a href="{{ path('login') }}" class="btn btn-default navbar-btn text-uppercase btn-light text-dark"><i class="fa fa-user d-inline fa-lg"></i>Zaloguj się</a>
            <a href="{{ path('register') }}" class="btn navbar-btn ml-2 text-uppercase btn-light text-dark"><i class="fa d-inline fa-lg fa-user-plus"></i>Załóż Konto</a>
            {% endif %}
        </div>
    </div>
</nav>
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-1">IIBank</h1>
                <h1 class="">Projekt - Inżynieria Internetu</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1 class="">Autor - Jarosław Koźmic</h1>
                <p class="lead">Gr. Projektowa 2, nr albumu 286185</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="description">Opis Projektu </a>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>

</html>